# packaging
pip>=9
setuptools>=26
twine
wheel>=0.29

# data science
numpy
pandas==1.2.3
scikit-learn==0.24.1
pygeohash
category_encoders
xgboost > 0.82

# tests/linter
black
coverage
flake8
pytest
yapf

# API
gcsfs==0.8.0
google-cloud-storage==1.37.1
mlflow
s3fs
fastapi

# utilities
six>=1.14
joblib
memoized-property
termcolor
psutil
uvicorn
